<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Messages : Create</title>
        <script src="u2f-api.js"></script>

        <script th:inline="javascript">
            /*<![CDATA[*/
            var requestData = /*[[${data}]]*/ '';
            var request = JSON.parse(requestData);
            setTimeout(function() {
                u2f.sign(request.authenticateRequests,
                    function(data) {
                        if (data.errorCode) {
                            alert("U2F failed with error code: " + data.errorCode);
                            return;
                        }
                        document.getElementById('tokenResponse').value = JSON.stringify(data);
                        document.getElementById('form').submit();
                    });
            }, 1000);
            /*]]>*/
        </script>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
              rel="stylesheet"/>
    </head>
    <body>
        <div class="jumbotron" style="background-color: #f6f7f7">
            <h3 style="text-align: center">U2F Authentication</h3>
            <h5 style="text-align: center">Touch your U2F token to authenticate</h5>
            <img src="img/u2f-login.png" alt="u2f image" style="margin-right: auto; display: block; margin-left: auto; height: 45%"></img>
        </div>
        <form method="post" action="./authenticate" id="form">
            <input type="hidden" name="tokenResponse" id="tokenResponse"/>
        </form>
    </body>
</html>