<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Success</title>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
              rel="stylesheet"/>
    </head>
    <body>
        <div class="alert alert-success" role="alert" style="text-align: center">
            <h3>Authorization Success</h3>
            <span>Hello, </span><span th:text="${username}"></span>
            <a th:href="@{/logout}">Logout</a>
        </div>
    </body>
</html>